* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    color: #fff;
}

header {
    width: 100%;
    height: 100vh;
}
.tittle  {
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container img{
    width: 370px;
    height: 370px;
    padding: 20px;
    padding-bottom: 90px;
    filter: drop-shadow(0 0 50px #27c0a7); /*contorno con color en png*/
}
h1 {
    font-size: 30px;
    display: flex;
    justify-content: start;
}
 .container p {
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
}
nav img{
    display: flex;
    justify-content: center;
    width: 8rem;
}

nav ul{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 128px;
}
nav ul li{
    padding: 20px;
    font-size: 15px;
    list-style: none;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
main{
    width: 100%;
}
.sobre-mi{
    color: #000;
    background: #fff;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh;
}
.sobre-mi h2{
    padding-bottom: 30px;
}
.sobre-mi p{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}





h1, h2 {
}



h2 {
}

p {
}

.sobre-mi, .mis-proyectos, .contactame {
}

.galeria-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.proyecto {
    margin-bottom: 15px;
    text-align: center;
}

.proyecto img {
    max-width: 100%;
    height: auto;
    border: 3px solid #fff; /* Un pequeño borde para destacar las imágenes en el fondo oscuro */
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
